{% extends 'base.html' %}
  {% block ttl %}
  <title>Resturant</title>
  {% endblock ttl %}

  {% block ttl2bd %}
  <br>
      <h3 class="text-center container"> All available resturants...</h3>
    <div>
        <table class="table table-borderless">
            <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Resturant Name</th>
                  <th scope="col">Location</th>
                  <th scope="col">Foods Available</th>
                  <th scope="col">   </th>
                </tr>
              </thead>
              <tbody>
                  
                  {% for i in rstrnt %}
                  <tr>
                      <th scope="row">{{loop.index}}</th>
                      <td>{{i.rstrnt_name}}</td>
                      <td>
                        {{(i.rstrnt_loct).replace('+', " ")}}
                      </td>
                      <td><a href="/resturants/foods/{{i.id}}" type="button" class="btn btn-outline-dark">All Available Foods</button>
                      </td>
                      <td>
                        {% if session['is_admin'] %}
                          <a href="/update/{{i.id}}" type="button" class="btn btn-outline-dark">Update</button>
                          <a href="/delete/{{i.id}}" type="button" class="btn btn-outline-dark">Delete</button>
                        {% else %}
                            <a href="/suggest/update/{{i.id}}" type="button" class="btn btn-outline-dark">Suggest Update</button>
                        {% endif %}
                          </td>
                    </tr>
                    {% endfor %}
                    
              </tbody>    
        </table>
    </div>
  {% endblock ttl2bd %}